<li class="dropdown messages-menu">
  <!-- Menu toggle button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-success"><%= inbox_count %></span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have <%= inbox_count %> messages</li>
    <li>
      <!-- inner menu: contains the messages -->
      <ul class="menu">
        <% current_user_inbox.each do | conversation | %>
          <li><!-- start message -->
            <%= link_to conversation_path(conversation) do %>
              <div class="pull-left">
                <!-- User Image -->
                <%= gravatar_tag conversation.originator.email,:size=>30 %>
                <!-- <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image"/> -->
              </div>
              <!-- Message title and timestamp -->
              <h4>
                <%= conversation.subject %>
                <small><i class="fa fa-clock-o"></i> <%= time_ago_in_words(conversation.last_message.created_at) %></small>
              </h4>
              <!-- The message -->
              <p><%= conversation.last_message.body %></p>
            <% end %>
          </li><!-- end message -->
        <% end %>
        </ul><!-- /.menu -->
      </li>
    <li class="footer"><a href="/conversations">See All Messages</a></li>
  </ul>
</li><!-- /.messages-menu -->
